body {
  font-family: "Neuton", serif;
  color: #333;
}

header {
  background-color: #fcee21;
  text-align: center;
  padding: 20px;
}

/* --------------------------
Student code starts here
-----------------------------*/
.wrapper {
  display: flex;
}

aside {
  margin-left: 20px;
  flex-basis: 50%;
  margin-right: 20px;
  background-color: #fcee21;
  padding-left:20px;
}

article {
  flex-basis: 50%;
  margin-left: 20px;
}

html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}
